{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}
<section class="user-dashboard page-wrapper noBig" role="main">
    <div class="container noBig">
        <div class="row noBig">
            <div class="col-md-12 noBig">
                <ul class="list-inline dashboard-menu text-center noBig">
                    <li class="noBig"><a class="active" href="/customer/dashboard/">Dashboard</a></li>
                    <li class="noBig"><a href="/customer/order/">Orders</a></li>
                    <li class="noBig"><a href="/customer/doctor-appointment/">Doctor Appointments</a></li>
                    <li class="noBig"><a href="/customer/appointment/">Lab Appointments</a></li>
                    <li class="noBig "><a href="/customer/completeappointment/">Completed Lab Appointments</a></li>
                </ul>
                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                        <div class="pull-left text-center ">
                            <!-- <img class="media-object user-img" src='/media/'.{{customer_img.image}} alt="Image"> -->
                            <img class="media-object user-img" src="/media/{{customer_img.image}} " alt="Profile image of {{customer.shop_name}}">
                            <a href="/customer/customerupdate/{{customer.id}}" class="btn btn-main mt-20">Edit <i class="tf-ion-edit"></i></a>
                        </div>
                        <div>
                            <h2 class="media-heading" style="font-size: 25px;letter-spacing: 0px;line-height: 19px;padding-left: 240px;padding-top: 45px">Welcome {{customer.full_name}}</h2>
                        </div>
                    </div>
                        <div class="media-body">
                            <ul class="user-profile-list">
                                <li class="font-weight-bold title-text">Customer Details</li>
                                <li><span class="noBig">Full Name:</span>{{customer.full_name}}</li>
                                <li><span class="noBig">Gender:</span>{{customer.gender}}</li>
                                <li><span class="noBig">Email:</span>{{customer.email}}</li>
                                <li><span class="noBig">Phone:</span>{{customer.contact_number}}</li>
                                <li><span class="noBig">Address:</span>{{customer.address}}</li>
                            </ul>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'snippets/copyright-footer.htm'%}
{% endblock content %}
