{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}

<section class="user-dashboard page-wrapper noBig" role="main">
    <div class="container noBig">
        <div class="row noBig">
            <div class="col-md-12 noBig">
                <ul class="list-inline dashboard-menu text-center noBig">
                    <li class="noBig"><a href="/customer/dashboard/">Dashboard</a></li>
                    <li class="noBig"><a href="/customer/order/">Orders</a></li>
                    <li class="noBig"><a class="active" href="/customer/doctor-appointment/">Doctor Appointments</a></li>
                    <li class="noBig"><a href="/customer/appointment/">Lab Appointments</a></li>
                    <li class="noBig "><a href="/customer/completeappointment/">Completed Lab Appointments</a></li>
                </ul>
                <div class="dashboard-wrapper user-dashboard noBig">
                    <div class="table-responsive noBig">
                        <table class="table noBig">
                            <thead class="noBig">
                                <tr class="noBig">
                                    <th>Appointment ID</th>
                                    <th>Doctor </th>
                                    <th>Booked Date</th>
                                    <th>Appointment Fixed Date</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody class="noBig">
                                {% for appointment in appointments%}
                                    <tr class="noBig">
                                        <td>#{{appointment.id}}</td>
                                        <td>{{appointment.doctor.full_name}}</td>
                                        <td>{{appointment.timestamp}}</td>
                                        <td>{{appointment.fixed_on }}</td>
                                        <td>${{appointment.doctor.charge}}</td>
                                        <td class="lol text-center noBig">
                                            <span class="label-info info-text noBig">{{appointment.status}}</span>
                                        </td>
                                        <td>
                                            <!-- {{appointment.payment}} -->
                                            {% if appointment.payment != True %}
                                                <a href="/doctor/appointment/cancel/{{appointment.id}}" class="btn btn-default" role="button" aria-label="cancel">Cancel </a> <br/>
                                                <a href="/doctor/payment/{{appointment.id}}" class="btn btn-default" role="button" aria-label="payment">Make Payment </a>
                                            {% endif %}
                                            <span class="btn btn-default" data-target="#changeStatus_{{ appointment.id }}" data-toggle="modal">Details</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="flex-pagination mb-3">
    <div class="step-links">
        {% if appointments.has_previous %}
            <span id="first1"><a href="?page=1">&laquo; first</a></span>
           <span id="previous1"><a href="?page={{ appointments.previous_page_number }}">previous</a></span>
        {% endif %}
    
        <span id="current1">
            Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}.
        </span>
     
        {% if appointments.has_next %}
            <a href="?page={{ appointments.next_page_number }}">next</a>
            <a href="?page={{ appointments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
<!-- .modal -->

{% for appointment in appointments%}
<div  role="complementary" aria-label="appointment" class="modal fade noBig" id="changeStatus_{{ appointment.id }}">
    <div class="modal-dialog noBig">
        <div class="modal-content product-checkout-details noBig">
            <div class="modal-header block noBig">
                <button type="button" class="close" data-dismiss="modal">×</button> 
                <h2 class="widget-title">Detail of appointment</h2> 
                    <div class="media-body noBig">
                        <h3 class="media-heading"><a href="product-single.htm">{{appointment.doctor.full_name}}</a></h3>
                        <p class="price"> {{appointment.doctor.specialist}}</p>
                        <p class="price"> {{appointment.doctor.contact_number}}</p>
                    </div>
                <hr>
                <div class="media product-card noBig">
                    <div class="media-body noBig">
                        <h4 class="media-heading"><a>Patient's Name :</a></h4>
                       <p class="price">{{appointment.patient_name}}</p>

                       <h4 class="media-heading"><a> Number :</a></h4>
                       <p class="price">{{appointment.contact_number}}</p>

                       <h4 class="media-heading"> <a> Email :</a></h4>
                       <p class="price">{{appointment.email}}</p>

                       <h4 class="media-heading"> <a> Address :</a></h4>
                       <p class="price">{{appointment.address}}</p>

                       <h4 class="media-heading"> <a> Description :</a></h4>
                       <p class="price">{{appointment.description}}</p>
                    </div>
                 </div>
            </div>
            <div class="modal-footer noBig">
                <button type="button" class="btn-css btn btn-secondory" data-dismiss="modal">close</button>                               
            </div>
        </div> 
    </div>                                                                      
</div>  
{% endfor %}
{% include 'snippets/copyright-footer.htm'%}
<!-- 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

$(document).ready(function(){
    $("#processing").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-primary">Processing</span>');
    });
    $("#completed").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-success">Completed</span>');
    });
    $("#canceled").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-danger">Canceled</span>');
    });
    $("#hold").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-info">On Hold</span>');
    });
    $("#pending").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-warning">Pending</span>');
    });

  });
</script> -->

{% endblock content %}

