{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}

{% include 'snippets/doctor-consultation.htm'%}
<div class="flex-pagination mb-3">
    <div class="step-links">
        {% if doctor_img.has_previous %}
            <span id="first1"><a href="?page=1">&laquo; first</a></span>
           <span id="previous1"><a href="?page={{ doctor_img.previous_page_number }}">previous</a></span>
        {% endif %}
    
        <span id="current1">
            Page {{ doctor_img.number }} of {{ doctor_img.paginator.num_pages }}.
        </span>
     
        {% if doctor_img.has_next %}
            <a href="?page={{ doctor_img.next_page_number }}">next</a>
            <a href="?page={{ doctor_img.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% include 'snippets/copyright-footer.htm'%}
{% include 'snippets/chatbot.htm'%}
{% endblock content %}