  {% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}

{%include 'snippets/prescription.htm' %}
<section class="user-dashboard page-wrapper noBig"  style="padding: 0px">
    <div class="container noBig">

        <div class="dashboard-wrapper dashboard-user-profile noBig">
            <div class="col-xs-12 col-md-4 text-center noBig">
                <img class="img-responsive mt-20" src="/media/{{lab_img.image}}" alt="{{lab_img.description}}">
                    <!-- prescription Doctor -->   
                    <span class="li noBig" ><a href="#!" class="btn btn-main btn-small btn-round-full mt-40" data-target="#MySecondmodal" data-toggle="modal" id="float-l"><i class="tf-ion-ios-upload-outline"></i> upload prescription</a></button>                 
            </div>
                <div class="media-body noBig">
                    <h3 class="font-weight-bold text-uppercase">{{lab.lab_name}}</h3>
                    <p class="text-info mt-10">{{lab.business_name}}</p>
                    <p class="mt-30">{{lab.description}}</p>
                    <ul class="user-profile-list noBig">
                        <li><span>Full Name:</span>{{lab.full_name}}</li>
                        <li><span>services:</span>{{lab.services}}</li>
                        <li><span>Email:</span>{{lab.email}}</li>
                        <li><span>Phone:</span>{{lab.contact_number}}</li>
                        <li><span>Address:</span>{{lab.address}}</li>
                        <li><span>No. of Branches:</span>{{lab.branches}}</li>
                    </ul>
                </div>
            </div>
        </div>
            
        <div class="products">
            <div class="container">
                <h3>Available Services</h3>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Services-Test Type</th>
                                    <th>Specialty Areas</th>                                      
                                    <th> Appointment time</th> 
                                    <th style="width: 35%;">Description</th>
                                    <th>Cost</th>
                                    <th>Result(Days)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}
                                <tr>
                                    <td><a href="/service/detail/{{service.id}}">{{service.title}}</a></td>
                                    <td>{{service.service_type}}</td>
                                    <td>{{service.appointment_date}}</td>
                                    <td>{{service.description}}</td>
                                    <td>${{service.price}}</td>
                                    <td style="padding-left: 50px;">{{service.duration}}</td> 
                                    <td><a class="btn btn-default" href="/service/appointment/{{service.id}}/">Book Appointment</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--end of product-->>

    </div>
</section>

{% include 'snippets/copyright-footer.htm'%}
{% endblock content %}