{% extends 'base.htm' %}
{% load static %}

{% block content %}
<section class="signin-page account noBig">
    <div class="container noBig">
        <div class="row noBig">
            <div class="col-md-6 col-md-offset-3 noBig">
                <div class="block text-center noBig">
                    <a aria-label="logo" role="img" href="/" class="noBig">
                        <img alt="logo" class="dp" src={% static '/images/favicon.png' %}>
                     </a>
                      <div class="detail-txt noBig">
                        <a href="/" aria-label="logo name">
                          <span class="username">
                             Med-House
                         </span>
                       </a>
                    <h2 class="text-center">Welcome Back</h2>
                    <form role="form" class="text-left clearfix noBig" method="POST" action="/customer/login/" >
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.email}}
                            <p>{{form.email.errors}}</p>
                        </div>
                        <div class="form-group">
                            {{form.password}}
                            {{form.password.errors}}
                        </div>
                        {{ form.non_field_errors }}
                        <div class="text-center noBig">
                            <button role="button" type="submit" class="btn btn-main text-center" >Login</button>
                        </div>
                    </form>
                    <br>
                    <span aria-label="New in this site ?" class="mt-20">New in this site ?</span><a href="/customer/signin/" aria-label="create account"> Create New Account</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
