{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a href="/customer/dashboard/">Dashboard</a></li>
                    <li><a class="active" href="/customer/order/">Orders</a></li>
                    <li><a href="/customer/doctor-appointment/">Doctor Appointments</a></li>
                    <li><a href="/customer/appointment/">Lab Appointments</a></li>
                    <li class="noBig "><a href="/customer/completeappointment/">Completed Lab Appointments</a></li>
                </ul>
                <div style="margin-top: 20px;">
                    <nav class="navbar navbar-light bg-light text-center">
                        <form class="form-inline">
                          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                      </nav>
                </div>
                <div class="dashboard-wrapper user-dashboard">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Vendor</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders%}
                                    <tr>
                                        <td>#{{order.id}}</td>
                                        <td>{{order.vendor.full_name}}</td>
                                        <td>{{order.timestamp}}</td>
                                        <td>{{order.items}}</td>
                                        <td>${{order.total}}</td>
                                        <td id="lol"><span class="label label-info">{{order.status}}</span></td>
                                        <td>
                                            <!-- {{order.payment}} -->
                                            {% if order.payment != True %}
                                                <a class="btn btn-default" href="/order/cancel/{{order.id}}" > Cancel </a>
                                                <a class="btn btn-default" href="/order/payment/{{order.id}}" > Make Payment </a>
                                            {% endif %}
                                            <span class="btn btn-default" data-target="#changeStatus_{{ order.id }}" data-toggle="modal">Details</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="flex-pagination mb-3">
    <div class="step-links">
        {% if orders.has_previous %}
            <span id="first1"><a href="?page=1">&laquo; first</a></span>
           <span id="previous1"><a href="?page={{ orders.previous_page_number }}">previous</a></span>
        {% endif %}
    
        <span id="current1">
            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
        </span>
     
        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}">next</a>
            <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>

<!-- .modal -->
{% regroup order_items by order as o_items %}

{% for items in o_items%}
<div class="modal fade" id="changeStatus_{{ items.grouper.id }}">
    <div class="modal-dialog">
        <div class="modal-content product-checkout-details">
            <div class="modal-header block">
                <button type="button" class="close" data-dismiss="modal">×</button> 
                <h4 class="widget-title">Detail of order</h4>   
                {% for item in items.list%}
                <hr>
                <div class="media product-card">
                    <a class="pull-left" href="product-single.htm">
                       <img class="media-object" src="/media/{{item.image.image}}" alt="Image" />
                    </a>
                    <div class="media-body">
                       <h4 class="media-heading"><a href="product-single.htm">{{item.product.title}}</a></h4>
                       <p class="price">{{item.quantity}} x $ {{item.unit_price}}</p>
                    </div>
                 </div>
                {% endfor %}    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-css btn btn-secondory" data-dismiss="modal">close</button>                               
            </div>
        </div> 
    </div>                                                                      
</div>  
{% endfor %}
{% include 'snippets/copyright-footer.htm'%}
<!-- 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

$(document).ready(function(){
    $("#processing").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-primary">Processing</span>');
    });
    $("#completed").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-success">Completed</span>');
    });
    $("#canceled").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-danger">Canceled</span>');
    });
    $("#hold").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-info">On Hold</span>');
    });
    $("#pending").click(function(){
        $('#lol').empty();
        $("#lol").prepend('<span class="label label-warning">Pending</span>');
    });

  });
</script> -->

{% endblock content %}
    