{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}

<section class="user-dashboard page-wrapper noBig">
    <div class="container noBig">
        <div class="row noBig">
            <div class="col-md-12 noBig">
                <ul class="list-inline dashboard-menu text-center noBig">
                    <li class="noBig"><a href="/customer/dashboard/">Dashboard</a></li>
                    <li class="noBig"><a href="/customer/order/">Orders</a></li>
                    <li class="noBig"><a class="active" href="/customer/profile-details/">Profile Details</a></li>
                    <li class="noBig"><a href="/customer/appointment/">Lab Appointments</a></li>
                    <li class="noBig "><a href="/customer/completeappointment/">Completed Lab Appointments</a></li>
                </ul>
                <div class="dashboard-wrapper dashboard-user-profile noBig">
                    <div class="media noBig">
                        <div class="pull-left text-center noBig" href="#!">
                            <img class="media-object user-img" src="/media/{{customer_img.image}}" alt="Profile image of {{customer.shop_name}}">
                            <a href="/customer/customerupdate/{{customer.id}}" class="btn btn-main mt-20">Edit <i class="tf-ion-edit"></i></a>
                        </div>
                        <div class="media-body noBig">
                            <ul class="user-profile-list noBig">
                                <h3 class="font-weight-bold ">Customer Details</h3>
                                <li class="noBig"><span>Full Name:</span>{{customer.full_name}}</li>
                                <li class="noBig"><span>Gender:</span>{{customer.gender}}</li>
                                <li class="noBig"><span>Email:</span>{{customer.email}}</li>
                                <li class="noBig"><span>Phone:</span>{{customer.contact_number}}</li>
                                <li class="noBig"><span>Address:</span>{{customer.address}}</li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'snippets/copyright-footer.htm'%} 
{% endblock content %}

