{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm'%}

<div class="page-wrapper noBig" role="main">
  <div class="cart shopping noBig">
    <div class="container noBig">
      <div class="row noBig">
        <div class="col-md-8 col-md-offset-2 noBig">
          <div class="block noBig">
            <div class="product-list noBig">
              {% regroup cart_items by product.vendor as cart_item %}
              {% for items in cart_item %}
              <div>
                <form method="post" class="mt-20 noBig">
                  <h2 >{{items.grouper.shop_name}}</h2>
                    <table class="table noBig">
                      <thead class="noBig">
                        <tr class="noBig">
                          <th class="">Item Name</th>
                          <th class="">Unit Price</th>
                          <th class="">Quantity</th>
                          <th class="">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="noBig">
                        {% for item in items.list %}
                          <tr class="noBig">
                            <td class="noBig">
                              <div class="product-info">
                                <img width="80" aria-label="product image" src="/media/{{item.image.image}}" alt="{{item.image.description}}"/>
                                <a href="/shop">{{item.product.title}}</a>
                              </div>
                            </td>
                            <td>{{item.unit_price}}</td>
                            <td >{{item.quantity}}</td>
                            <td class="noBig">
                              <a class="product-remove" href="/cart/remove/{{item.id}}" aria-label="remove iterm" role="button">Remove</a>
                            </td>
                          </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                    <a href="/order/checkout/{{items.grouper.id}}" class="btn btn-main pull-right" aria-label="checkout">Checkout</a>
                  </form>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'snippets/copyright-footer.htm'%}
{% endblock content %}
