{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="single-product noBig" role="main">
	<div class="container noBig">
		<div class="row noBig">
		</div>
		<div class="row mt-20 noBig">
			<div class="col-md-5 noBig">
				<div class="single-product-slider noBig">
					<div id='carousel-custom' class='carousel slide noBig' data-ride='carousel'>
						<div class='carousel-outer noBig'>
							<!-- me art lab slider -->
							<div class='carousel-inner noBig'>
								{% for img in product_img %}
									{% if img.main %}
										<div class='item active'>
									{% else %}
										<div class='item'>
									{% endif %}
										<img src="/media/{{img.image}}"  alt="{{img.description}}" data-zoom-image="/media/{(img.image}}"  />
									</div>
								{% endfor %}							
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control noBig' role="button" aria-label="previous" href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control noBig' role="button" aria-label="next" href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab noBig'>
							{% for img in product_img %}
								{% if img.main %}
									<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' class='active'>
								{% else %}
									<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' >
								{% endif %}
									<img src="/media/{{img.image}}" alt="{{img.description}}" />
								</li>
							{% endfor %}

						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7 noBig">
				
				<div class="single-product-details noBig">
					<form action="/cart/add/{{product.id}}" class="noBig detail-info" method="POST">
						{% csrf_token %}
						<h2>{{product.title}}</h2>
						<p class="product-price">$ {{product.price}}</p>
						
						<p class="product-description mt-20">
							{{product.meta_title}}
						</p>
						<div class="product-category mr">
							<span>Type:</span>
							{{product.product_type}}
						</div>
						{% if product.product_type|stringformat:"s" == "medicine" %}
							<div class="product-category mr">
								<span>Generic Name:</span>
								{{product.medical_name}}
							</div>
						{% endif %}
						<div class="product-quantity mr">
						<span>Quantity:</span>
							<div class="product-quantity-slider noBig">
								<input aria-label=" quantity value" id="product-quantity" type="text" value={{quantity}} name="product-quantity">
								<p class="help">{{message}} </p>
							</div>
						</div>
						{% if product.product_type|stringformat:"s" != "device" %}
							<div class="product-category mr">
								<span>Manufactured Date:</span>
								{{product.manufacture_date}}
							</div>
							<div class="product-category mr">
								<span>Expiry Date:</span>
								{{product.expiry_date}}
							</div>
						{% endif %}
					
						<div class="product-category mr">
							<span>Manufacturer:</span>
							{{product.manufacturer}}
						</div>
						
						<button type="submit" class="btn btn-main mt-20">add to Cart</a>
					</form>
				</div>
			</div>
		</div>
		<div class="row noBig">
			<div class="col-xs-12 noBig">
				<div class="tabCommon mt-20 noBig">
					<ul class="nav nav-tabs noBig">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg noBig">
						<div id="details" class="tab-pane fade active in noBig">
							<h3>Product Description</h3>
							<p>{{product.description}}</p>
						</div>
						<div id="reviews" class="tab-pane fade noBig">
							<div class="post-comments noBig">
						    	<ul class="media-list comments-list m-bot-50 clearlist noBig">
								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-1.jpg' %} alt="" width="50" height="50" />
								        </a>

								        <div class="media-body noBig">
								            <div class="comment-info noBig">
								                <h4 class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                	
								                </h4>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
								            </p>
								        </div>

								    </li>
								    <!-- End Comment Item -->

								    <!-- Comment Item start-->
								    <li class="media noBig">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-4.jpg' %} alt="" width="50" height="50" />
								        </a>

								        <div class="media-body noBig">

								            <div class="comment-info noBig">
								                <div class="comment-author noBig">
								                    <a href="#!">Jonathon Andrew</a>
								                </div>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
								            </p>

								        </div>

								    </li>
								    <!-- End Comment Item -->

								    <!-- Comment Item start-->
								    <li class="media noBig">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-1.jpg' %} alt="" width="50" height="50">
								        </a>

								        <div class="media-body noBig">

								            <div class="comment-info noBig">
								                <div class="comment-author noBig">
								                    <a href="#!">Jonathon Andrew</a>
								                </div>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
								            </p>

								        </div>

								    </li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% include 'snippets/vender-product-model.htm'%}
{% include 'snippets/footer2.htm'%}
{% endblock content %}