{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/doctor-header.htm'%}
{% include 'snippets/page-header.htm' %}
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a class="active" href="/doctor/dashboard/">Dashboard</a></li>
                    <li><a href="/doctor/appointmentList/">Appointments</a></li>
                    <!-- <li><a href="/doctor/profile-details/">Profile Details</a></li> -->
                </ul>
                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                        <div class="pull-left text-center" href="#!">
                            <img class="media-object user-img" src="/media/{{doctor_img.image}}" alt="Profile image of {{doctor.shop_name}}">
                            <a href="/doctor/doctorupdate/{{doctor.id}}/" class="btn btn-main mt-20" > Edit <i class="tf-ion-edit"></i></a>
                        </div>
                        <div class="media-body">
                            <ul class="user-profile-list">
                                <h3 class="font-weight-bold ">doctor Details</h3>
                                <li><span>Full Name:</span>{{doctor.full_name}}</li>
                                <li><span>Gender:</span>{{doctor.gender}}</li>
                                <li><span>Email:</span>{{doctor.email}}</li>
                                <li><span>Phone:</span>{{doctor.contact_number}}</li>
                                <li><span>Address:</span>{{doctor.address}}</li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'snippets/copyright-footer.htm'%}
{% endblock content %}
