{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}

<div class="page-wrapper noBig" role="main">
   <div class="checkout shopping noBig">
      <div class="container noBig">
         <div class="row noBig">
            <div class="col-md-8 noBig">
               <div class="block noBig">
                  <h2 class="widget-title">PayPal Payment</h2>
                  <script src="https://www.paypal.com/sdk/js?client-id=AeA5WW_9SWTOqVniAjtCuBTGwE_Vx6HLerZAjmFDVzTPDU-yigjgoAaULM_f5-bb4g7FO_X93mTi9nNY"></script>

                     <div id="paypal-button-container"></div>

                    <script>
                       let total = "{{doc_image.doctor.charge}}";
                       let id = "{{id}}";
                       
                       paypal.Buttons({

                            createOrder: function (data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: total
                                        }
                                    }]
                                });
                            },

                            onApprove: function (data, actions) {
                                return actions.order.capture().then(function (details) {
                                    // Show a success message to the buyer
                                    alert('Transaction completed!');
                                    window.location.href = `/doctor/paymentMade/${id}`;
                                });
                            }

                        }).render('#paypal-button-container');

                  </script>
               </div>
            </div>
            <div class="col-md-4 noBig">
               <div class="product-checkout-details" noBig>
                  <div class="block noBig">
                     <h3 class="widget-title">Appointment Summary</h3>
                        <div class="media product-card noBig">
                           <a class="pull-left" href="product-single.htm">
                              <img class="media-object" src="/media/{{doc_image.image}}" alt="doc_image.doctor.full_name" />
                           </a>
                           <div class="media-body noBig">
                              <h4 class="media-heading"><a href="product-single.htm">{{doc_image.doctor.full_name}}</a></h4>
                              <p class="price"> {{doc_image.doctor.specialist}}</p>
                              <p class="price"> $ {{doc_image.doctor.charge}}</p>
                           </div>
                        </div>

                     <ul class="summary-prices noBig">
                     </ul>
                     <div class="summary-total noBig">
                        <span>Total</span>
                        <span>$ {{doc_image.doctor.charge}}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% include 'snippets/copyright-footer.htm'%}
{% endblock content %}