{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/lab-dashboard-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="single-service">
	<div class="container">
		<div class="row">
		</div>
		<div class="row mt-20">
			<div class="col-xs-2" style="width: 35%; padding-left: 150px;">
				<div class="single-service-details">
					<h2>{{service.title}}</h2>
					
					<p class="service-description mt-20">
						{{service.meta_title}}
					</p>
					<div class="service-category">
						<span>Type:</span>
						{{service.service_type}}
					</div>
					<div class="service-price">
						<span>Price:</span>
						${{service.price}}
					</div>
					{% if service.service_type|stringformat:"s" != "bloodbank" %}
						<div class="service-category">
							<span>Appointment Time:</span>
							{{service.appointment}}
						</div>
						<div class="service-category">
							<span>Result Duration:</span>
							Within {{service.duration}} days
						</div>
						
					{% endif %}
					
					{% if service.service_type|stringformat:"s" == "bloodbank" %}

						<div class="service-category">
							<span>Quantity:</span>
							{{service.quantity}}
						</div>
						<div class="service-category">
							<span>Packed Date:</span>
							{{service.packed_date}}
						</div>
						<div class="service-category">
							<span>Expiry Date:</span>
							{{service.expiry_date}}
						</div>
					{% endif %}
					<a href="/service/update/{{service.service_type}}/{{service.id}}/" class="btn btn-main mt-20">update</a>
					<a href="/service/delete/{{service.id}}/" class="btn btn-main mt-20">delete</a>
				
				
				</div>
			</div>
			<div class="col-xs-6" style="padding-top: 15px; margin-left: 75px;">
				<div id="details" class="tab-pane fade active in">
					<h4>Service Description</h4>
					<p>{{service.description}}</p>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg">
						<!-- <div id="details" class="tab-pane fade active in">
							<h4>Service Description</h4>
							<p>{{service.description}}</p>
						</div> -->
						<div id="reviews" class="tab-pane fade active in">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-1.jpg' %} alt="" width="50" height="50" />
								        </a>

								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                	
								                </h4>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
								            </p>
								        </div>

								    </li>
								    <!-- End Comment Item -->

								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-4.jpg' %} alt="" width="50" height="50" />
								        </a>

								        <div class="media-body">

								            <div class="comment-info">
								                <div class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                </div>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
								            </p>

								        </div>

								    </li>
								    <!-- End Comment Item -->

								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-1.jpg' %} alt="" width="50" height="50">
								        </a>

								        <div class="media-body">

								            <div class="comment-info">
								                <div class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                </div>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
								            </p>

								        </div>

								    </li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'snippets/lab-service-model.htm'%}
{% include 'snippets/footer3.htm'%}
{% endblock content %}