{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/lab-dashboard-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="single-service">
	<div class="container">
		<div class="row">
		</div>
		<div class="row mt-20">
			<div class="col-xs-2" style="width: 35%; padding-left: 150px;">
				<div class="single-service-details">
					<h2>{{service.title}}</h2>
					
					<p class="service-description mt-20">
						{{service.meta_title}}
					</p>
					<div class="service-category">
						<span>Type:</span>
						{{service.service_type}}
					</div>
					<div class="service-price">
						<span>Price:</span>
						${{service.price}}
					</div>
					{% if service.service_type|stringformat:"s" != "bloodbank" %}
						<div class="service-category">
							<span>Appointment Time:</span>
							{{service.appointment}}
						</div>
						<div class="service-category">
							<span>Result Duration:</span>
							Within {{service.duration}} days
						</div>
						
					{% endif %}
					
					{% if service.service_type|stringformat:"s" == "bloodbank" %}

						<div class="service-category">
							<span>Quantity:</span>
							{{service.quantity}}
						</div>
						<div class="service-category">
							<span>Packed Date:</span>
							{{service.packed_date}}
						</div>
						<div class="service-category">
							<span>Expiry Date:</span>
							{{service.expiry_date}}
						</div>
					{% endif %}
					<div class="d-inline-flex">
						<a href="/service/update/{{service.service_type}}/{{service.id}}" class="btn btn-main mt-20">update</a>
						<a href="/service/delete/{{service.service_type}}/{{service.id}}" class="btn btn-main mt-20">delete</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6" style="padding-top: 15px; margin-left: 75px;">
				<div id="details" class="tab-pane fade active in">
					<h4>Service Description</h4>
					<p>{{service.description}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>
{% include 'snippets/lab-service-model.htm'%}
{% include 'snippets/footer3.htm'%}
{% endblock content %}