{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/lab-dashboard-header.htm'%}
{% include 'snippets/page-header.htm' %}
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a class="active" href="/lab/dashboard/">Dashboard</a></li>
                    <li><a href="/lab/appointment/">Appointments</a></li>
                    <li><a href="/lab/profile-details/">Profile Details</a></li>
                    <!-- <li><a href="/service/list/">Service Details</a></li> -->
                </ul>
                <div class="dashboard-wrapper user-dashboard">
                    <div class="media">
                        <div class="pull-left">
                            <!-- <img class="media-object user-img" src='/media/'.{{lab_img.image}} alt="Image"> -->
                            <img class="media-object user-img" src="/media/{{lab_img.image}} " alt="Profile image of {{lab.lab_name}}">
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">Welcome {{lab.lab_name}}</h2>
                            <p>{{lab.description}}</p>
                        </div>
                    </div>
            
                    <div class="total-order mt-20">
                        <h4>Services Available</h4>
                            <div style="margin-top: 20px;">
                                <nav class="navbar navbar-light bg-light text-center">
                                    <form class="form-inline" method="POST" action="/lab/dashboard/">
                                        {% csrf_token %}
                                        <input class="form-control mr-sm-2" type="search" placeholder="Search by service or time" name="title" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                </nav>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Services-Test Type</th>
                                            <th>Specialty Areas</th>                                      
                                            <th> Appointment time</th> 
                                            <th style="width: 35%;">Description</th>
                                            <th>Cost</th>
                                            <th>Result(Days)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for service in services %}
                                        <tr>
                                            <td><a href="/service/detail/{{service.id}}">{{service.title}}</a></td>
                                            <td>{{service.service_type}}</td>
                                            <td>{{service.appointment_date}}</td>
                                            <td>{{service.description}}</td>
                                            <td>${{service.price}}</td>
                                            <td style="padding-left: 50px;">{{service.duration}}</td> 
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex-pagination mb-3">
                                <div class="step-links">
                                    {% if services.has_previous %}
                                        <span id="first1"><a href="?page=1">&laquo; first</a></span>
                                       <span id="previous1"><a href="?page={{ services.previous_page_number }}">previous</a></span>
                                    {% endif %}
                                
                                    <span id="current1">
                                        Page {{ services.number }} of {{ services.paginator.num_pages }}.
                                    </span>
                                 
                                    {% if services.has_next %}
                                        <a href="?page={{ services.next_page_number }}">next</a>
                                        <a href="?page={{ services.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'snippets/footer3.htm'%}
{% endblock content %}
