{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/lab-dashboard-header.htm'%}
{% include 'snippets/page-header.htm' %}

<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a href="/lab/dashboard/">Dashboard</a></li>
                    <li><a href="/lab/appointment/">Appointments</a></li>
                    <li><a class="active" href="/lab/profile-details/">Profile Details</a></li>
                    <!-- <li><a href="/service/list/">Service Details</a></li> -->
                </ul>
                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                        <div class="pull-left text-center" href="#!">
                            <img class="media-object user-img" src="/media/{{lab_img.image}}" alt="Profile image of {{lab.lab_name}}">
                            <a href="/lab/labupdate/{{lab.id}}" class="btn btn-main mt-20" > Edit <i class="tf-ion-edit"></i></a>
                        </div>
                        <div class="media-body">
                            <ul class="user-profile-list">
                                <h3 class="font-weight-bold text-uppercase">Laboratory Details</h3>      
                                <li><span>Full Name:</span>{{lab.full_name}}</li>
                                <li><span>Gender:</span>{{lab.gender}}</li>
                                <li><span>Email:</span>{{lab.email}}</li>
                                <li><span>Phone:</span>{{lab.contact_number}}</li>
                                <li><span>Date of Birth:</span>{{lab.dob}}</li>
                                <li><span>Address:</span>{{lab.address}}</li>
                            </ul>
                            <hr>
                            <ul class="user-profile-list">
                                <h3 class="font-weight-bold text-uppercase">Lab Legal Details</h3>
                                <li><span>Lab Name:</span>{{lab.lab_name}}</li>
                                <li><span>Registered Business Name:</span>{{lab.business_name}}</li>
                                <li><span>PAN Number:</span>{{lab.pan_number}}</li>
                                <li><span>VAT Number:</span>{{lab.vat_number}}</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'snippets/footer2.htm'%}

{% endblock content %}

