.ml-85{
    margin-left: 85px;
}
#listOfAccount{
    float: right;
    position: relative;
    bottom: 40px;
}
@media screen and (max-width: 760px){
    #listOfAccount{
        float: right;
        position: relative;
        bottom: 25px;
    }
}
@media screen and (max-width: 480px){
    #listOfAccount{
        bottom: 20px;
    }
}
.navbar-header
{
    height: 90px;
}
/* //doctor prescription */

.li{
    padding: 0;
}
.btn-pre{
    position: relative;
    bottom: 76px;
    float: right;
  }
#btn-add{
    float: right;
    position: relative;
    bottom: 72px;
    left: 194px;
}
@media screen and (max-width: 950px){
    .btn-pre{
        top: 50px;
        right: 40%;
      }     
}
@media screen and (max-width: 766px){
    .btn-pre{
        right: 30%;
      }
}

/* vender account styleing */
.leftside{
    padding-left: 0;
}

.rightside{
    padding-right: 0;
}
.rightuploadside{
    padding-left: 100px;
}
@media screen and (max-width: 987px){
   .leftside, .rightside{
       padding: 0;
   }
   .rightuploadside{
       padding-left: 20px;
   }
}

#profile{
    position: relative;
    left: 40%;
}
.details-list{
    margin: 0 10%;
    padding: 0;
}
/* vender header */
#add-btn{
    position: relative;
    bottom: 72px;
    float: right;
    right: 10%;
}
#logout{
    float: right;
    position: relative;
    bottom: 49px;
    right: 5%;
}
 /* login form */
 .errorlist li{
color: red;
font-size: 12px;
 }