{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/vendor-dashboard-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="single-product">
	<div class="container">
		<div class="row">
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								{% for img in product_img %}
									{% if img.main %}
										<div class='item active'>
									{% else %}
										<div class='item'>
									{% endif %}
										<img src="/media/{{img.image}}"  alt="{{img.description}}" data-zoom-image="/media/{(img.image}}"  />
									</div>
								{% endfor %}							
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							{% for img in product_img %}
								{% if img.main %}
									<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' class='active'>
								{% else %}
									<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' >
								{% endif %}
									<img src="/media/{{img.image}}" alt="{{img.description}}" />
								</li>
							{% endfor %}

						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{product.title}}</h2>
					<p class="product-price">$ {{product.price}}</p>
					
					<p class="product-description mt-20">
						{{product.meta_title}}
					</p>
					<div class="product-category">
						<span>Type:</span>
						{{product.product_type}}
					</div>
					{% if product.product_type|stringformat:"s" == "medicine" %}
						<div class="product-category">
							<span>Generic Name:</span>
							{{product.medical_name}}
						</div>
					{% endif %}
					<div class="product-category">
						<span>Quantity:</span>
						{{product.quantity}}
					</div>
					{% if product.product_type|stringformat:"s" != "device" %}
						<div class="product-category">
							<span>Manufactured Date:</span>
							{{product.manufacture_date}}
						</div>
						<div class="product-category">
							<span>Expiry Date:</span>
							{{product.expiry_date}}
						</div>
					{% endif %}
				
					<div class="product-category">
						<span>Manufacturer:</span>
						{{product.manufacturer}}
					</div>
					<a href="/product/update/{{product.product_type}}/{{product.id}}" class="btn btn-main mt-20">update</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (0)</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{product.description}}</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'snippets/vender-product-model.htm'%}
{% include 'snippets/footer2.htm'%}
{% endblock content %}