{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/vendor-dashboard-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="single-product">
	<div class="container">
		<div class="row">
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								{% for img in product_img %}
									{% if img.main %}
										<div class='item active'>
									{% else %}
										<div class='item'>
									{% endif %}
										<img src="/media/{{img.image}}"  alt="{{img.description}}" data-zoom-image="/media/{(img.image}}"  />
									</div>
								{% endfor %}							
								
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							{% for img in product_img %}
								{% if img.main %}
									<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' class='active'>
								{% else %}
									<li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' >
								{% endif %}
									<img src="/media/{{img.image}}" alt="{{img.description}}" />
								</li>
							{% endfor %}

						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{product.title}}</h2>
					<p class="product-price">Rs. {{product.price}}</p>
					
					<p class="product-description mt-20">
						{{product.meta_title}}
					</p>
					<div class="product-category">
						<span>Type:</span>
						{{product.product_type}}
					</div>
					{% if product.product_type|stringformat:"s" == "medicine" %}
						<div class="product-quantity">
							<span>Generic Name:</span>
							{{product.medical_name}}
						</div>
					{% endif %}
					<div class="product-quantity">
						<span>Quantity:</span>
						{{product.quantity}}
					</div>
					{% if product.product_type|stringformat:"s" != "device" %}
						<div class="product-quantity">
							<span>Manufactured Date:</span>
							{{product.manufacture_date}}
						</div>
						<div class="product-quantity">
							<span>Expiry Date:</span>
							{{product.expiry_date}}
						</div>
					{% endif %}
				
					<div class="product-quantity">
						<span>Manufacturer:</span>
						{{product.manufacturer}}
					</div>
					
					<a href="cart.htm" class="btn btn-main mt-20">update</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{product.description}}</p>
						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-1.jpg' %} alt="" width="50" height="50" />
								        </a>

								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                	
								                </h4>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
								            </p>
								        </div>

								    </li>
								    <!-- End Comment Item -->

								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-4.jpg' %} alt="" width="50" height="50" />
								        </a>

								        <div class="media-body">

								            <div class="comment-info">
								                <div class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                </div>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
								            </p>

								        </div>

								    </li>
								    <!-- End Comment Item -->

								    <!-- Comment Item start-->
								    <li class="media">

								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src={% static 'images/blog/avater-1.jpg' %} alt="" width="50" height="50">
								        </a>

								        <div class="media-body">

								            <div class="comment-info">
								                <div class="comment-author">
								                    <a href="#!">Jonathon Andrew</a>
								                </div>
								                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>

								            <p>
								                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
								            </p>

								        </div>

								    </li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src={% static 'images/shop/products/product-5.jpg' %} alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#!" ><i class="tf-ion-edit"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-delete"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.htm">Reef Boardsport</a></h4>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src={% static 'images/shop/products/product-1.jpg' %} alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#" ><i class="tf-ion-edit"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-delete"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.htm">Reef Boardsport</a></h4>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src={% static 'images/shop/products/product-2.jpg' %} alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#" ><i class="tf-ion-edit"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-delete"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.htm">Strayhorn SP</a></h4>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src={% static 'images/shop/products/product-3.jpg' %} alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
									<a href="#" ><i class="tf-ion-edit"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-delete"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="product-single.htm">Bradley Mid</a></h4>
					</div>
				</div>
			</div>
		</div> -->


{% include 'snippets/vender-product-model.htm'%}
{% include 'snippets/footer2.htm'%}
{% endblock content %}