{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/vendor-dashboard-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="products section">
    <div class="container">
        <div class="row">
            <ul class="list-inline dashboard-menu text-center">
                <li><a  href="/vendor/dashboard/">Dashboard</a></li>
                <li><a href="/vendor/order/">Orders</a></li>
                <li><a href="/vendor/profile-details/">Profile Details</a></li>
                <li><a class="active" href="/vendor/product-details/">Product Details</a></li>
            </ul>
            <div style="margin-top: 20px;">
                <nav class="navbar navbar-light bg-light text-center">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </nav>
                </div>
            {% for image in images%}
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img class="img-responsive" src="/media/{{image.image}}" alt={{image.description}} />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a href="/product/detail/{{image.product.id}}">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#!" ><i class="tf-ion-edit"></i></a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#!"><i class="tf-ion-android-delete"></i></a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-single.htm">{{image.product.title}}</a></h4>
                            <p class="price">Rs.{{image.product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include 'snippets/footer2.htm'%}
{% endblock content %}