{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/vendor-dashboard-header.htm'%}
{% include 'snippets/page-header.htm'%}

<section class="products section">
    <div class="container">
        <div class="row">
            <ul class="list-inline dashboard-menu text-center">
                <li><a  href="/vendor/dashboard/">Dashboard</a></li>
                <li><a href="/vendor/order/">Orders</a></li>
                <li><a href="/vendor/profile-details/">Profile Details</a></li>
                <li><a class="active" href="/vendor/product-details/">Product Details</a></li>
            </ul>
            <div style="margin-top: 20px;">
                <nav class="navbar navbar-light bg-light text-center">
                    <form class="form-inline" method="POST" action="/product/list/">
                        {% csrf_token %}
                      <input class="form-control mr-sm-2" type="search" placeholder="Search product by name" name="title" aria-label="Search by name">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </nav>
                </div>
            {% for image in images%}
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img class="img-responsive" src="/media/{{image.image}}" alt={{image.description}} />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a href="/product/detail/{{image.product.id}}">
                                            <i class="tf-ion-ios-search-strong"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/product/update/{{image.product.product_type}}/{{image.product.id}}" ><i class="tf-ion-edit"></i></a>
                                    </li>
                                    <li>
                                        <a href="/product/delete/{{image.product.id}}"><i class="tf-ion-android-delete"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-single.htm">{{image.product.title}}</a></h4>
                            <p class="price">$ {{image.product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="flex-pagination mb-3">
    <div class="step-links">
        {% if images.has_previous %}
            <span id="first1"><a href="?page=1">&laquo; first</a></span>
           <span id="previous1"><a href="?page={{ images.previous_page_number }}">previous</a></span>
        {% endif %}
    
        <span id="current1">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>
     
        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
            <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>

{% include 'snippets/footer2.htm'%}
{% endblock content %}