{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}
{% include 'snippets/page-header.htm' %}

<section class="products section noBig" role="main">
	<div class="container noBig">
		<div class="row noBig">
			<div class="col-md-3 noBig">
				<div class="widget noBig">
					<form method="post" action="/product/shop/">
						{% csrf_token %}
						<p class="widget-title ">Category</p>
							<select class="form-control" name='product_type' aria-label="category">
								<option key='search'> Search by category </option>
								<option key='medicine'> Medicine</option>
								<option key='device'>Device</option>
								<option key='hygenic_product'>Hygenic Product </option>
							</select>
							<input class="form-control mr-sm-2" type="search" placeholder="Search by name of product" aria-label="Search" name="title">
							<button class="btn btn-outline-success my-2 my-sm-0 mt-10" type="submit">Search</button>
                    </form>
					<div>
						<h4 class="widget-title">Searched by:</h4>
						{{title}}<br> {{category}}
					</div>
	            </div>
			</div>
			<div class="col-md-9 noBig">
				<!-- <div class="row"> -->
					{% for image in images %}		
						<div class="col-md-4 noBig">
							<div class="product-item noBig">
								<div class="product-thumb noBig">
									<img class="img-responsive" src="/media/{{image.image}}" alt={{image.description}} />
									<div class="preview-meta noBig">
										<ul class="noBig">
											<li class="noBig">
												<span  data-toggle="modal" data-target="#product-modal_{{  image.product.id  }}">
													<i class="tf-ion-ios-search-strong"></i>
												</span>
											</li>
											<li class="noBig">
												<a href="/cart/add/{{image.product.id}}" role="button" aria-label="add to cart"><i class="tf-ion-android-cart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content noBig">
									<p class="title-text"><a href="/product/shop/detail/{{image.product.id}}">{{image.product.title}}</a></p>
									<p class="price">$ {{image.product.price}}</p>
								</div>
							</div>
						</div>	
					{% endfor %}
			</div>	<!-- </div> -->
		</div>
	</div>
</section>

<div class="flex-pagination mb-3">
    <div class="step-links">
        {% if images.has_previous %}
            <span id="first1"><a href="?page=1">&laquo; first</a></span>
           <span id="previous1"><a href="?page={{ images.previous_page_number }}">previous</a></span>
        {% endif %}
    
        <span id="current1">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>
     
        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
            <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>

{% for image in images %}		
{% include 'snippets/product-model.htm' %}
{% endfor %}

{% include 'snippets/footer2.htm'%}
{% endblock content %}
