{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/customer-header.htm'%}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Shop</h1>
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li class="active">shop</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<form method="post" action="/product/shop/">
						{% csrf_token %}
						<h4 class="widget-title">Category</h4>
							<select class="form-control" name='product_type'>
								<option key=''> Search by category </option>
								<option key='medicine'> Medicine</option>
								<option key='device'>Device</option>
								<option key='hygenic_product'>Hygenic Product </option>
							</select>
							<input class="form-control mr-sm-2" type="search" placeholder="Search by name of product" aria-label="Search" name="">
							<button class="btn btn-outline-success my-2 my-sm-0 mt-10" type="submit">Search</button>
                    </form>
	            </div>
			</div>
			<div class="col-md-9">
				<div class="row">
					{% for image in images %}		
						<div class="col-md-4">
							<div class="product-item">
								<div class="product-thumb">
									<span class="bage">Sale</span>
									<img class="img-responsive" src="/media/{{image.image}}" alt={{image.description}} />
									<div class="preview-meta">
										<ul>
											<li>
												<span  data-toggle="modal" data-target="#product-modal_{{ forloop.counter0 }}">
													<i class="tf-ion-ios-search-strong"></i>
												</span>
											</li>
											<li>
												<a href="/cart/add/{{image.product.id}}"><i class="tf-ion-android-cart"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<h4><a href="product-single.htm">{{image.product.title}}</a></h4>
									<p class="price">Rs.{{image.product.price}}</p>
								</div>
							</div>
						</div>	
					{% endfor %}
				</div>
				{% for image in images %}		
					{% include 'snippets/product-model.htm' %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include 'snippets/footer2.htm'%}
{% include 'snippets/chatbot.htm'%}
{% endblock content %}
