{% extends 'base.htm' %}
{% load static %}
{% block content %}
<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a href="/">
              <img alt="gravater" class="dp" src={% static '/images/favicon.png' %}>
            </a>
            <div class="detail-txt">
              <a href="/">
                <span class="username">
                  Med-House
                </span>
              </a>
            </div>
            
            <h3 class="text-center"><i class="tf-ion-android-add"></i> Update Product</h3>
            <h4 class="mt-10">Medicine</h4>
            <!-- medicine form -->
            <form enctype="multipart/form-data" class="text-left clearfix" action="/product/update/medicine/{{product.id}}" method="POST" id="medicine" style="display: block;">
              {% csrf_token %}
              <input type="hidden" name="product_type" value="medicine">
              <div class="form-group">
                <label for="inputName">Name:</label>
                {{form.title}}
                <p class="help">{{form.title.errors }}</p>
              </div>
              <div class="form-group">
                <label for="inputOfficialChemicalName">Meta Title</label>
                {{form.meta_title}}
                <p class="help">{{form.meta_title.errors }}</p>
              </div>
              <div class="form-group">
                <label for="inputOfficialChemicalName">Generic Name</label>
                {{form.medical_name}}
                <p class="help">{{form.medical_name.errors }}</p>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 leftside">
                  <label for="inputPrice">Price</label>
                  {{form.price}}
                  <p class="help">{{form.price.errors }}</p>
                </div>
                <div class="form-group col-md-6 rightside">
                  <label for="inputQuantity">Quantity</label>
                  {{form.quantity}}
                  <p class="help">{{form.quantity.errors }}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 leftside">
                  <label for="inputManifactureDate">Manufactured Date</label>
                  {{form.manufacture_date}}
                  <p class="help">{{form.manufacture_date.errors }}</p>
                </div>
                <div class="form-group col-md-6 rightside">
                  <label for="inputExpiryDate">Expiry Date</label>
                  {{form.expiry_date}}
                  <p class="help">{{form.expiry_date.errors }}</p>
                </div>
              </div>
              <div class="form-group">
                <label for="inputManufacture">Manufactured by</label>
                {{form.manufacturer}}
                <p class="help">{{form.manufacturer.errors }}</p>
              </div>
              <div class="form-group">
                <label for="InputDescription">Description</label>
                {{form.description}}
                <p class="help">{{form.description.errors }}</p>
              </div>
              <div class="form-group">
                <label for="OpenfileUpload">Upload the picture of the product</label>
                {{img_form.image}}
                {{img_form.image.errors}}   
              </div>
              <hr>
              <div class="text-center">
                <button type="submit" class="btn btn-main text-center" >Update Product</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}