{% load static %}
<!--------------------- chatbot html start here ---------------------->
<div class="wrapper-chat">
    <div class="marvel-device nexus5" id="chat-bubble">
        <div class="screen">
        <div class="screen-container">

            <div class="chat-header" onclick="openChatBubble()">
                <div class="user-details">
                    <img alt="logo" class="dp" src={% static '/images/favicon.png' %}>
                    <div class="detail-txt">
                        <span class="username">
                            MedHouse
                        </span>
                    </div>
                </div>

                <div class="chat-options noBig">
                    <span class="noBig"> 
                        <i class="tf-ion-close-round"></i> 
                    </span>
                </div>
            </div>

            <div class="chat-screen">
            <div class="chat" role="log">
                <!-- BEGINING OF MESSAGE-->
                <div class="container1 fixed rev">
                <ul class="message-body">

                </ul>

                </div>
                <!-- END OF MESSAGE -->

                <!-- BEGINING OF INPUT BOTTOM -->
                <div class="chat-footer">
                <div class="bottom">
                    <form class="form">
                    <div class="sendMess">
                        <button role="button" class="attachment" aria-label="user-icon"><i class="tf-ion-person"></i></button>
                        <textarea role="textbox" id="text" name="" cols="20" rows="3" placeholder="enter your message">
                        </textarea>
                        <button role="button" class="send" aria-label="send button"><i class="tf-ion-android-send"></i></button>
                    </div>
                    </form>
                </div>
                </div>
                <!-- END OF INPUT BOTTOM-->
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    
//chat bot

const messages = [
"you are not serious",
"kikiki so what?",
"where did you come from",
"lol are you kidding me",
"and so  what do u mean"
];
let counter = 0;
const chatContainer = document.querySelector(".container");
const chatArea = document.querySelector(".message-body");
const text = document.querySelector("#text");
const form = document.querySelector(".form");

function isOverflown(element) {
return (
  element.scrollHeight > element.clientHeight ||
  element.scrollWidth > element.clientWidth
);
}

function scroll() {
chatArea.scroll(0,chatArea.scrollHeight);
}

function reply(msg) {
let li = document.createElement("li");
li.innerHTML = msg;
li.classList.add("chatbox");
li.classList.add("chatbox-incoming");
chatArea.append(li);
scroll();
}


//EVENT LISTENERS
text.addEventListener("focus", () => {
chatContainer.scrollTop = chatArea.scrollHeight + 560;
});



form.addEventListener("submit", e => {
e.preventDefault();
msg = text.value;
let li = document.createElement("li");
li.innerHTML = msg;
li.classList.add("chatbox");
li.classList.add("chatbox-outgoing");
chatArea.append(li);
scroll();
text.value = "";
chatContainer.scrollTop =chatContainer.scrollHeight;
text.focus();
setTimeout(reply, 1000, messages[counter]);
counter++;
if (counter == messages.length) {
  counter = 0;
}
});


window.onload = ()=>{
reply("hi please type a message for me")
}

//buble body
const body = document.querySelector('body');

// chatpot
function openChatBubble() {
var element = document.getElementById("chat-bubble");
element.classList.toggle("open")
}

form.addEventListener("keyup", function(event) {
if (event.keyCode === 13) {
msg = text.value;
let li = document.createElement("li");
li.innerHTML = msg;
li.classList.add("chatbox");
li.classList.add("chatbox-outgoing");
chatArea.append(li);
scroll();
text.value = "";
chatContainer.scrollTop =chatContainer.scrollHeight;
text.focus();
setTimeout(reply, 1000, messages[counter]);
counter++;
if (counter == messages.length) {
  counter = 0;
}
}
});


</script>