{% load static %}
<!--------------------- chatbot html start here ---------------------->
<div class="wrapper-chat">
    <div class="marvel-device nexus5" id="chat-bubble">
        <div class="screen">
        <div class="screen-container">

            <div class="chat-header" onclick="openChatBubble()">
            <div class="user-details">
                <img alt="gravater" class="dp" src={% static '/images/favicon.png' %}>
                <div class="detail-txt">
                    <span class="username">
                        MedHouse
                    </span>
                </div>
            </div>

            <div class="chat-options" onclick="openChatBubble()">
                <span> 
                    <i class="tf-ion-close-round"></i> 
                </span>
            </div>
            </div>

            <div class="chat-screen">
            <div class="chat">
                <!-- BEGINING OF MESSAGE-->
                <div class="container1 fixed rev">
                <ul class="message-body">

                </ul>

                </div>
                <!-- END OF MESSAGE -->

                <!-- BEGINING OF INPUT BOTTOM -->
                <div class="chat-footer">
                <div class="bottom">
                    <form class="form">
                    <div class="sendMess">
                        <button class="attachment"><i class="tf-ion-person"></i></button>
                        <textarea id="text" name="" cols="20" rows="3" placeholder="enter your message">
                        </textarea>
                        <button class="send"><i class="tf-ion-android-send"></i></button>
                    </div>
                    </form>
                </div>
                </div>
                <!-- END OF INPUT BOTTOM-->
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
