{% load static %}
{% include 'snippets/accessibility_modal.htm'%}
<!-- Start Top Header Bar -->
<section class="top-header noBig">
    <div class="container noBig">
        <div class="col-md-12 noBig">
            <!-- Site Logo -->
            <div class="logo text-center noBig">
                <a href="/" class="noBig">
                    <!-- replace logo here -->
                    <svg class="noBig" width="135px" height="29px" viewBox="0 0 186 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g class="noBig" id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                            font-family="AustinBold, Austin" font-weight="bold">
                            <g class="noBig" id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                <text id="AVIATO" class="noBig">
                                    <tspan class="noBig" x="108.94" y="325">MedHouse</tspan>
                                </text>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-xs-12 col-sm-4 noBig" id="listOfAccount">
                <!-- Cart -->
                <ul class="top-menu text-right list-inline noBig">
                    <li class="dropdown cart-nav dropdown-slide noBig">
                        <a href="/cart/list/" ><i class="tf-ion-android-cart noBig"></i>Cart</a>
                    </li><!-- / Cart -->
                    <li>
                        <a href="/customer/logout/" class="btn btn-transparent noBig">Log Out</a>
                    </li>
                </ul><!-- / .nav .navbar-nav .navbar-right -->
            </div>
        </div>
    </div>
    
    <i id="check-ace" class="fa fa-check-circle fa-lg noBig" aria-hidden="true"></i>
    <a type="button" class="noBig" check-ace="0" id="ace-btn"><i class="fa fa-universal-access" aria-hidden="true" data-target="#My-right-side-modal" data-toggle="modal" id="my-circle-btn"></i>
    </a>
</section>
<!-- End Top Header Bar -->

<section class="menu noBig">
    <nav class="navbar navigation noBig">
        <div class="container noBig noBig">
            <div class="navbar-header noBig">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- / .navbar-header -->
            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center noBig">
                <ul class="nav navbar-nav">

                    <li class="dropdown noBig">
                        <a href="/customer/dashboard">Dashboard</a>
                    </li>
                    <!-- Home -->
                    <li class="dropdown noBig">
                        <a href="/product/shop/">Shop</a>
                    </li><!-- / Home -->

                    <li class="dropdown noBig">
                        <a href="/customer/doctor/">Doctor Consultation</a>
                    </li>
                    <li class="dropdown noBig">
                        <a href="/customer/vendors/">Vendors</a>
                    </li>
                    <li class="dropdown noBig">
                        <a href="/customer/lab/">Lab</a>
                    </li>
                   
                </ul><!-- / .nav .navbar-nav -->
            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container noBig -->
    </nav>
</section>
