{% load static %}
{% for doctor in doctor_img %}
<!-- .modal -->
<!-- <div class="modal fade noBig" id="Mydoctormodal">
    <div class="modal-dialog noBig">
        <div class="modal-content noBig">
            <div class="modal-header noBig">
                <button type="button" class="close" data-dismiss="modal">×</button> 
                <h4 class="modal-title ">
                    Book An Appointment
                </h4>                                                             
                <hr>
                <dl class="dl-horizontal noBig" style="margin: 0 94px;">
                    <dt>Doctor Name:</dt>
                    <dd>{{doctor.doctor.full_name}}</dd>
                </dl>
                <div class="modal-body noBig">
                    <div class="card-block noBig">
                        <div class="text-center noBig m-t-20">
                            <div class="form-group noBig">
                                <label for="subject">Choose Date for Appointment</label>
                                <input class="form-control datepicker" placeholder="enter the date">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <form>
                        {% csrf_token %}
                        <label for="subject">Description for Appointment</label>
                        <textarea id="subject" name="subject" placeholder="Add your Symptoms or any description.." style="height:200px" required></textarea>
                    
                        <label for="fname">Payment Method</label>
                        <script src="https://www.paypal.com/sdk/js?client-id=AeA5WW_9SWTOqVniAjtCuBTGwE_Vx6HLerZAjmFDVzTPDU-yigjgoAaULM_f5-bb4g7FO_X93mTi9nNY"></script>

                     <div id="paypal-button-container"></div>

                    <script>
                       let total = "{{doctor.doctor.charge}}";
                       console.log(total);

                       paypal.Buttons({

                            createOrder: function (data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: total
                                        }
                                    }]
                                });
                            },

                            onApprove: function (data, actions) {


                            }


                        }).render('#paypal-button-container');

                    </script> 

                    <div class="text-center noBig">
                        <button type="submit" class="btn btn-main text-center noBig" >Add Product</button>
                    </div>
                        
                    </form>
                </div>  
            </div>
            <div class="modal-footer noBig">
                <button class="btn-css btn btn-primary">Book Appointment</button>
                <button type="button" class="btn-css btn btn-default" data-dismiss="modal">Close</button>                               
            </div>
        </div> 
    </div>                                                                      
</div>    -->

<!-- doctor -->
<section class="about section noBig">
    <div class="container noBig">
        <div class="row noBig">
            <div class="col-xs-6 col-md-4 noBig">
                <img class="img-responsive mt-50" src="/media/{{doctor.image}}">
            </div>
            <div class="col-xs-6 col-md-4 mt-10 noBig">
                <h3><a href="/customer/doctor-detail/{{doctor.doctor.id}}/"> {{doctor.doctor.full_name}}</a></h3>
                <p class="text-info">{{doctor.doctor.Specialist}}</p>
                <p>{{doctor.doctor.degree}}</p>
                <p>{{doctor.doctor.description}}</p>
                <a class="btn btn-main mt-20" href="/doctor/appointment/{{doctor.doctor.id}}/"> Book Appointment</a>
                

            </div>
            <div class="col-xs-6 col-md-4 mt-40 noBig">
                <div class="text-center noBig">
                    <i class="tf-ion-android-calendar icon-max"></i> 
                </div>
                <dl class="text-center mt-10">
                    <dt>Available Day:</dt>
                    <dd>{{doctor.doctor.available_day}}</dd>
                </dl>
    
                <dl class="text-center noBig">
                    <dt>NMC No</dt>
                    <dd>{{doctor.doctor.nmc_number}}</dd>

                    <dt>Charge: Rs</dt>
                    <dd>{{doctor.doctor.charge}}</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<hr>
{% endfor %}
