<div class="section">
    <div class="container">
        <div class="row">
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0 text-center text-sm-left">
            <h4 class="mb-4">Contact</h4>
            <p>Balkumari, lalitpur Nepal</p>
            <p>+025-700-0437</p>
            <p>E.medHouse@gmail.com</p>
            <ul class="list-inline social-icons">
            <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="ti-vimeo-alt"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="ti-google"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0 text-center text-sm-left">
            <h4 class="mb-4">Category</h4>
            <ul class="pl-0 list-unstyled">
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Clinical Microbiology</a></li>
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Clinical Chemistry</a></li>
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Hematology</a></li>
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Molecular Diagnotics</a></li>
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Reproductive Biology</a></li>
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Blood Bank</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0 text-center text-sm-left">
            <h4 class="mb-4">Useful Link</h4>
            <ul class="pl-0 list-unstyled">
            <li class="mb-2"><a class="text-color" href="about.htm">About Us</a></li>
            <li class="mb-2"><a class="text-color" href="address.htm">Support</a></li>
            <li class="mb-2"><a class="text-color"assets/ href=.htm">Our Shop</a></li>
            <li class="mb-2"><a class="text-color" href="contact.htm">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 text-center text-sm-left">
            <h4 class="mb-4">Our Policies</h4>
            <ul class="pl-0 list-unstyled">
            <li class="mb-2"><a class="text-color" href="404.htm">Privacy Policy</a></li>
            <li class="mb-2"><a class="text-color" href="404.htm">Terms & Conditions</a></li>
            <li class="mb-2"><a class="text-color" href="404.htm">Cookie Policy</a></li>
            <li class="mb-2"><a class="text-color" href="404.htm">Terms of Sale</a></li>
            </ul>
        </div>
        </div>
    </div>
    </div>