
            
<!-- .modal -->
<div class="modal fade" id="MyThirdmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button> 
                <h4 class="modal-title">Upload Result </h4>                                                             
                <hr>
                <div class="modal-body">
                    <div class="card-block">
                        <div class="text-center m-t-20">
                            <input type="file" id="fileupload" style="display:none"/> 
                            <button class="btn-css btn btn-primary" id="OpenfileUpload">click to upload</button>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        OR
                    </div>
                    <hr>
                    <form>
                        <label for="subject">Text Report</label>
                        <textarea id="subject" name="subject" placeholder="Report with Description.." style="height:200px"></textarea>
                    
                        
                    </form>
            
                    You need to register First.

                    <div class="text-center">
                        <button class="btn-css btn btn-primary">Submit</button>
                    </div> 
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-css btn btn-default" data-dismiss="modal">Close</button>                               
            </div>
        </div> 
    </div>                                                                      
</div>  