{% load static%}

<!-- Modal -->
<div class="modal product-modal fade" id="product-modal_{{ forloop.counter0 }}">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <!-- <img class="img-responsive" src="/media/{{image.image}}" alt="product-img" /> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">{{product.title}}</h2>
                            <p class="product-price">${{product.price}}</p>
                            <p class="product-short-description">
                                {{product.description}}
                            </p>
                            <a href="/cart/add/{{image.product.id}}" class="btn btn-main">Add To Cart</a>
                            <a href="/product/shop/detail/{{image.product.id}}" class="btn btn-transparent">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->