<section class="top-header">
    <div class="container">
        <div class="col-md-12">
            <!-- Site Logo -->
            <div class="logo text-center">
                <a href="/">
                    <!-- replace logo here -->
                    <svg width="135px" height="29px" viewBox="0 0 186 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                            font-family="AustinBold, Austin" font-weight="bold">
                            <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                <text id="AVIATO">
                                    <tspan x="108.94" y="325">MedHouse</tspan>
                                </text>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<span class="li" style="margin-top: 20px;"><a href="/product/signup" class="btn btn-secondary btn-small btn-round-full" id="add-btn" ><i class="tf-ion-android-add"></i> Product</a></span>
<a href="#x" class="btn btn-transparent mt-20" id="logout">Log Out</a>
