{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/header.htm'%}
{%include 'snippets/prescription.htm' %}
<!-- slider -->
<div class="hero-slider noBig" role="figure">
	<div class="slider-item th-fullpage hero-area noBig" style="background-image: url('static/images/slider/slider-1.jpg');">
		<div class="container noBig">
			<div class="row noBig">
				<div class="col-lg-8 text-center noBig">
					<span class="noHeight white-bg higher-contrast" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">SHOP</span>
					<h1 class="noHeight" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Get experience of your <br> online Pharmacy.</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area noBig" style="background-image: url('static/images/slider/slider-2.jpg');" >
		<div class="container noBig">
			<div class="row noBig">
				<div class="col-lg-8 text-left noBig">
					<span class="noHeight white-bg higher-contrast" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">DOCTOR</span>
					<h1 class="noHeight" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Book for doctor Consultation<br> with just one click.</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area noBig" style="background-image: url('static/images/slider/slider-3.jpg');" >
		<div class="container noBig">
			<div class="row noBig">
				<div class="col-lg-8 text-right noBig">
					<span class="noHeight white-bg"data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">LAB</span>
					<h1 class="noHeight"data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">lab reports and booking are <br> just a form away.</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<section role="main" class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a aria-label="device category" href="#!">
						<img src= {% static 'images/shop/category/category-1.jpg' %} alt="" />
						<div class="content">
							<h3>Device</h3>
							<p>Shop medical related devices here</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a aria-label="hygenic category" href="#!">
						<img src= {% static 'images/shop/category/category-2.jpg' %} alt="" />
						<div class="content">
							<h3>Hygenic</h3>
							<p>Your hygiene always our priority</p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a aria-label="medicine category" href="#!">
						<img src= {% static 'images/shop/category/category-3.jpg' %} alt="" />
						<div class="content">
							<h3>Medicine</h3>
							<p>multiple pharmacies always present to help your need</p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>

<section role="complementary" class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Trendy Products</h2>
			</div>
		</div>
		<div class="row">
			{% for image in images%}
				<div class="col-md-4 noBig" role="document">
					<div class="product-item noBig">
						<div class="product-thumb noBig">
							<img class="img-responsive" src= "/media/{{image.image}}"  alt={{image.description}} />
							<div class="preview-meta noBig">
								<ul role="list">
									<li>
										<span  data-toggle="modal" data-target="#product-modal_{{ forloop.counter0 }}">
											<i class="tf-ion-ios-search-strong"></i>
										</span>
									</li>
									<li>
										<a aria-label="shop cart" href="/customer/login"><i class="tf-ion-android-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="product-content noBig">
							<h3><a aria-label="added cart product" href="/customer/login">{{image.product.title}}</a></h3>
							<p class="price">$ {{image.product.price}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
	
			{% include 'snippets/product-model.htm' %}

		</div>
	</div>
</section>

{% for image in images %}		
{% include 'snippets/product-model.htm' %}
{% endfor %}

<!--
Start Call To Action
==================================== -->
<section class="call-to-action bg-gray section section-even" >
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title">
					<h3>SUBSCRIBE TO NEWSLETTER</h3>
					<p>Get weekly newsletter from E-MedHouse, <br> its carry different updates on application and sales</p>
				</div>
				<div class="col-lg-6 col-md-offset-3">
					<div class="input-group subscription-form">
					<input type="text" class="form-control" placeholder="Enter Your Email Address">
					<span class="input-group-btn">
						<button class="btn btn-main" type="button">Subscribe Now!</button>
					</span>
					</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->

			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
{% include 'snippets/footer1.htm'%}
{% include 'snippets/footer2.htm'%}
{% include 'snippets/chatbot.htm'%}
{% endblock content %}
