{% extends 'base.htm' %}
{% load static %}

{% block content %}
{% include 'snippets/header.htm'%}
{%include 'snippets/prescription.htm' %}
<!-- slider -->
<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url('static/images/slider/slider-1.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">SHOP</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Get experience of your <br> online Pharmacy.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/customer/login">Shop Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url('static/images/slider/slider-2.jpg');" >
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-left">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">DOCTOR</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Book for doctor Consultation<br> with just one click.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/doctor">Doctor Consultation</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url('static/images/slider/slider-3.jpg');" >
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-right">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">LAB</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">lab reports and booking are <br> just a form away.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="#">lab test</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="#!">
						<img src= {% static 'images/shop/category/category-1.jpg' %} alt="" />
						<div class="content">
							<h3>Device</h3>
							<p>Shop medical related devices here</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="#!">
						<img src= {% static 'images/shop/category/category-2.jpg' %} alt="" />
						<div class="content">
							<h3>Hygenic</h3>
							<p>Your hygiene always our priority</p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="#!">
						<img src= {% static 'images/shop/category/category-3.jpg' %} alt="" />
						<div class="content">
							<h3>Medicine</h3>
							<p>multiple pharmacies always present to help your need</p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Trendy Products</h2>
			</div>
		</div>
		<div class="row">
			{% for image in images%}
				<div class="col-md-4">
					<div class="product-item">
						<div class="product-thumb">
							<span class="bage">Sale</span>
							<img class="img-responsive" src= "/media/{{image.image}}"  alt={{image.description}} />
							<div class="preview-meta">
								<ul>
									<li>
										<span  data-toggle="modal" data-target="#product-modal_{{ forloop.counter0 }}">
											<i class="tf-ion-ios-search-strong"></i>
										</span>
									</li>
									<li>
										<a href="/customer/login"><i class="tf-ion-android-cart"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="product-content">
							<h4><a href="/customer/login">{{image.product.title}}</a></h4>
							<p class="price">$ {{image.product.price}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
	
			{% include 'snippets/product-model.htm' %}

		</div>
	</div>
</section>

{% for image in images %}		
{% include 'snippets/product-model.htm' %}
{% endfor %}

<!--
Start Call To Action
==================================== -->
<section class="call-to-action bg-gray section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title">
					<h2>SUBSCRIBE TO NEWSLETTER</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
				</div>
				<div class="col-lg-6 col-md-offset-3">
					<div class="input-group subscription-form">
					<input type="text" class="form-control" placeholder="Enter Your Email Address">
					<span class="input-group-btn">
						<button class="btn btn-main" type="button">Subscribe Now!</button>
					</span>
					</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->

			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->

<!-- <section class="section instagram-feed">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2>View us on instagram</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
			</div>
		</div>
	</div>
</section> -->
{% include 'snippets/footer1.htm'%}
{% include 'snippets/footer2.htm'%}
{% include 'snippets/chatbot.htm'%}
{% endblock content %}
